// FOOTER
footer {
	width: 80%;
	height: auto;
	margin: auto;
	background-color: $fondoPri;
}

.containerF {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center
}

.containerF__logo {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: solid 1px $fondoSec;
}

.containerF__imgl {
	width: 30%;
	border-radius: 50%;
}

.containerF__datos {
	width: 80%;
}

// FOOTER

